<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FilmHub</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header style="height: 35px">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/FilmHub.png" height="35px" alt="FilmHub logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Film" asp-action="AllFilms">Films</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Registration" asp-action="Index">Registration</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="ShowPersonalPage">User page</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Registration" asp-action="LogIn">Log in</a></li>
            </ul>

            @using (Html.BeginForm("SearchAndGetFilms", "Film", FormMethod.Get))
            {
                <div class="container" style="display: flex">
                <input class="form-control mr-sm-2" type="text" name="parameter" placeholder="Films, serials, actors..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            }
        </div>
    </nav>
</header>

<div class="@(ViewData["container"] ?? "container mt-5")">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - FilmHub - All rights reserved - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>