@model List<FilmViewModel>

@{
    ViewBag.Title = ViewBag.parameter;
    Layout = "_Layout";
}

<h2 style="margin-bottom: 5%; margin-top: 6%" align="center">Everything that was found on request "@ViewBag.parameter"</h2>

@foreach (var film in Model)
{
    {
        <figure class="sign" style="display: inline-block; text-align: center; margin-right: 15px">
            <a href='@Url.Action("CurrentFilm", "Film", new {image = film.Image})'>
                <img style="border-radius: 10px; border: 1px solid #000000;" src="@Url.Content(film.Image)" height="330" width="220" alt="Film Image"/>
            </a>
            <figcaption style="text-align: center">@Url.Content(film.Title)</figcaption>
        </figure>
    }
}
