#homeImage {
    width: 100%;
    height: 100vh;
    background: url('/images/FilmsCollage.jpg') top center;
    background-size: cover;
    position: relative;
}

.feature-card {
    height: 300px;
    background: rgba(25,25,25,0.6);
    margin: auto auto 10px;
}

.feature-card-text {
    size: 20px;
}

h3 {
    color: #fff;
    
}