@model UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name, let's change your password!</h2>
<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">New password</label>
        <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter your new password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>