@model UserViewModel

@{
    ViewBag.Title = "LogIn";
    Layout = "_Layout";
}

<h2 style="margin-top: 60px; margin-bottom: 25px" align="center">Log in</h2>
<form method="post" style="width: 30%; background: rgba(255,205,106,0.3); border-radius: 25px" class="row g-3 col-12 col-lg-10 col-xl-8 mx-auto">
  <div style="margin-bottom: 15px; margin-top: 40px" class="col-md-12">
      <input type="email" name="email" class="form-control" placeholder="Email" id="inputEmail4">
    </div>
  <div style="margin-bottom: 15px" class="col-md-12">
    <input type="password" name="password" class="form-control" placeholder="Password" id="inputPassword4">
  </div>
  <div class="col-md-8">
  <p>Don't have an account? <a href='@Url.Action("Index", "Registration")'>Sign up</a></p>
  </div>
<div class="col-md-4">
  <button style="float: right; margin-bottom: 20px; margin-top: 10px" type="submit" class="btn btn-primary">Log in</button>
</div>
</form>
