@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.Diagnostics
@model List<FilmViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<body>
<link rel="stylesheet" type="text/css" href="~\css\HomeIndex.css"/>
<div class="text-center">
    <h1 class="display-4">Welcome to <img src="~/images/FilmHubBlack.png" style="margin-bottom: 5px" width="220px" alt="FilmHub logo"></h1>
</div>
@*<h3>New Films</h3>
@foreach (var film in ViewBag.newFilms)
{
    <p>@film.Title</p>
}*@
</body>