@using Microsoft.EntityFrameworkCore
@model List<FilmViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<body>
<link rel="stylesheet" type="text/css" href="~\css\HomeIndex.css"/>
<div class="text-center">
    <h1 class="display-4">Welcome to <img src="~/images/FilmHubBlack.png" style="margin-bottom: 5px" width="220px" alt="FilmHub logo"></h1>
</div>
</body>